.about-jumbotron {
  background-color: #2b3137;
  background: linear-gradient(-60deg, #6c757d, #424242);
  margin-bottom: 2rem;
  border-radius: .3rem;
  padding: 4rem 2rem;

  h1 {
    line-height: 85px;
  }

  .about-lead {
    color: hsla(0,0%,100%,0.6);
    font-size: 21px;
    line-height: 50px;
  }

  .contact-card {
    .card-header{
      overflow: hidden;
      top: -25px;
      margin: auto;
      width: 50%;
      padding: 15px;
      border-radius: 3px;
      background: linear-gradient(60deg, #007bff, #55a3f7);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(23, 23, 23, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-header h4{
      font-weight: 400;
      color: #fff;
      margin-top: 5px;
    }

    .card-body {
      margin-top: -1em;
    }

    .email-btn .material-icons {
      vertical-align: top;
    }
  }
}

.datasets-list button:hover {
  background-color: rgba(0, 0, 0, .08);
}

.datasets-list button.active {
  background-color: rgba(0, 0, 0, .04);
}

.data .stats .stat-icon {
  vertical-align: top;
}
