.group-control {
  padding: .5rem;
}
.group-control .btn-close {
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 0 1px 0 #000;
  line-height: .8em;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
