.labels-svg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid transparent;
}

.labels-svg .labels-g .point-label {
  cursor: default;

  rect {
    visibility: hidden;
    opacity: 0.6;
  }

  text {
    fill: white;
    text-shadow: 0.07em 0.07em 1px #232323, -0.07em -0.07em 1px #232323;
    font-size: 12px;
    font-weight: 600;
  }
}

.labels-svg .labels-g .point-label:hover {
  text {
    text-shadow: none;
  }

  rect {
    visibility: visible;
  }

  circle.point-border {
    stroke-width: 1.8px;
    stroke: cornsilk;
  }
}

.labels-svg .labels-g .point-label.selected {
  circle.point-border {
    stroke-width: 1.8px;
    stroke: cornsilk;
  }

  rect {
    visibility: visible;
  }
}

.labels-svg.dimed {
  .labels-g .point-label:not(.search-point):not(.selected) {
    opacity: .4;
  }
  .labels-g .cluster-label {
    opacity: .6;
  }
  .voronoi-g {
    opacity: .4;
  }
}

.labels-svg .labels-g .search-point .border-line {
  visibility: hidden;
}

.labels-svg .labels-g .search-point.hidden .label-container {
  visibility: hidden;
}

.labels-svg .labels-g .search-point.hidden:hover .label-container {
  visibility: visible;
}

.labels-svg .labels-g .cluster-label {
  cursor: default;
  fill: gold;
  text-shadow: 0.07em 0.07em 1px #232323, -0.07em -0.07em 1px #232323;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
