/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/bootstrap";

html,
body{
	height: 100%;
	width: 100%;
}

body {
	/* margin: 0; */
}

/* Hide the ng-select arrow from search inputs */
.search-container .ng-arrow-wrapper {
  display: none;
}

// https://stackoverflow.com/questions/53989445/ngx-toastr-toast-not-showing-in-angular-7
#toast-container > div {
    opacity:1;
}
