.search-container .search-filters {

  .header {
    cursor: pointer;
    font-size: 12px;
    color: #6c757d;
  }

  .filters {
    overflow: hidden;
    transition: height 200ms;

    .form-check-label {
      font-size: 12px;
    }
  }
}

.search-box-select {
  width: 100%;

  @media (min-width: 768px) {
    width: 14em;
  }
  @media (min-width: 992px) {
    width: 23em;
  }
}

.search-box-select .ng-dropdown-footer {
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,0.04);
  }
}
